{% extends "pages/base.html" %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
<h1>Наш каталог</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 1</h5>
                <p class="card-text">Описание товара 1</p>
            </div>
        </div>
    </div>
    <!-- Добавьте больше товаров -->
        <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 2</h5>
                <p class="card-text">Описание товара 2</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 3</h5>
                <p class="card-text">Описание товара 3</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 4</h5>
                <p class="card-text">Описание товара 4</p>
            </div>
        </div>
    </div>
    <!-- Добавьте больше товаров -->
        <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 5</h5>
                <p class="card-text">Описание товара 5</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 6</h5>
                <p class="card-text">Описание товара 6</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 7</h5>
                <p class="card-text">Описание товара 7</p>
            </div>
        </div>
    </div>
    <!-- Добавьте больше товаров -->
        <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 8</h5>
                <p class="card-text">Описание товара 8</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Товар 9</h5>
                <p class="card-text">Описание товара 9</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}